client/share/schemas/account.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="account">
    <xs:complexType>      
      <xs:all>
        <xs:element name="id" type="xs:string"/>
        <xs:element name="username" type="xs:string" />
        <xs:element name="password" type="xs:string" />        
        <xs:element name="real_password" type="xs:string" minOccurs="0" />
        <xs:element name="public_key" type="xs:string" />
        <xs:element name="private_key" type="xs:string" />
        <xs:element name="secret_question" type="xs:string" minOccurs="0" />
        <xs:element name="secret_response" type="xs:string" minOccurs="0" />
        <xs:element name="last_access_date" type="xs:string" minOccurs="0" />
        <xs:element name="reference_date" type="xs:string" minOccurs="0" />
        <xs:element name="view_mode" type="xs:unsignedByte" minOccurs="0" />
        <xs:element name="skin_name" type="xs:string" minOccurs="0" />
        <xs:element name="skin_schema" type="xs:string" minOccurs="0" />
        <xs:element name="language" type="xs:string" minOccurs="0" />        
      </xs:all>                  
      <xs:attribute name="version" type="xs:decimal" use="optional" />
    </xs:complexType>
  </xs:element>
</xs:schema>