client/share/schemas/plugin.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="plugin">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="modules">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="module">
                <xs:complexType>
                  <xs:attribute name="path" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required" />
      <xs:attribute name="author" type="xs:string" use="optional" />
      <xs:attribute name="description" type="xs:string" use="optional" />
      <xs:attribute name="version" type="xs:decimal" use="required" />
      <xs:attribute name="icon" type="xs:string" use="optional" />
      <xs:attribute name="logo" type="xs:string" use="optional" />      
    </xs:complexType>
  </xs:element>
</xs:schema>